### Step 1: Importing Libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

#Adding Files together
df = pd.concat(
    map(pd.read_csv, ["Bangalore Ds Job DataSet.csv","Chennai Ds Job DataSet.csv","Hyderabad Ds Job DataSet.csv","Mumbai Ds Job DataSet.csv"]), ignore_index=True)
df.head(3)

### Step 2: Analyzing the data

In [ ]:
df.shape

There are 780 rows and 19 columns in the data set

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df.isnull().sum()

### Step 3: Cleaning the Data

Let's remove the unwanted columns

In [ ]:
df.head(1)

In [ ]:
df = df.drop(["Unnamed: 0","Review Count", "Link", "Industry","Doctorate ","Title"], axis=1)
df.head(1)

In [ ]:
df.shape

Now we have 780 rows and 13 columns

Let's dig deep and clean column wise

##### Column Company

In [ ]:
df["Company"].value_counts()[0:5]

Column Company looks fine, Now let's move to the next column rating

##### Column Rating

In [ ]:
df["Rating"].value_counts()[0:10]

342 company has no rating

##### Column Experience

In [ ]:
df["Experience"].value_counts()[0:5]

##### Column Salary

In [ ]:
df["Salary"].value_counts()[0:10]

Out of 780 rows 643 rows doesn't have salary details is better to remove the column

In [ ]:
df = df.drop(["Salary"],axis = 1)
df.head(1)

##### Column Location

In [ ]:
df["Location"].value_counts()[0:10]

Separating the column into four different columns with different locations

In [ ]:
def Location(x,y):
    df[x] =  df["Location"][df["Location"].str.contains(y)]
    
Location("Bangalore","Bangalore")
Location("Chennai","Chennai")
Location("Hyderabad","Hyderabad")
Location("Mumbai","Mumbai")

In [ ]:
df.head(2)

Renaming the location names

In [ ]:
def renameloc(x,y):
    df[x][df[x].str.contains(x, na = False)] = y

renameloc("Bangalore","Bangalore")
renameloc("Chennai","Chennai")
renameloc("Hyderabad","Hyderabad")
renameloc("Mumbai","Mumbai")

In [ ]:
df = df.drop(["Location"], axis =1 )
df.head(2)

##### Column Skills

In [ ]:
df["Skills"].value_counts()[0:5]

Let's Sperate the skill column into different skills category

In [ ]:
skills = df["Skills"].str.split(",", expand = True)
skills.head(3)

In [ ]:
df_new = pd.concat([df,skills], axis=1, join='inner')

In [ ]:
df_new = df_new.drop(["Skills"], axis = 1)
df_new.head(2)

In [ ]:
df_new["Role"]  = df_new["Role"].str.replace(",","")

In [ ]:
df_new["Role"].value_counts()[0:10]

In [ ]:
df_new["Role Category"].value_counts()[0:10]

In [ ]:
df_new = df_new.drop(["Functional Area"], axis = 1)
df.head(2)

In [ ]:
df["Employment Type"].value_counts()[0:10]

In [ ]:
df_new["Industry Type"].value_counts()[0:10]

In [ ]:
df_new.to_excel("Naukri DataSet for Dashboard.xlsx", index = False)

In [ ]:
df_new.head(2)